page-category-page {
.pic {
  width: 100%;
  height: 100%;
  padding-bottom: 40px;
  display: block;
  background-color: #555c68;
}


ion-row {
  padding-bottom: 2px;
}

ion-card {
    position: relative;
    text-align: center;
    border: 1px solid black;
  }

  .card-title {
    position: absolute;
    top: 30%;
    font-size: 1.3em;
    width: 100%;
    font-weight: bold;
    color: white;
    word-wrap: break-word;
  }
  .getstart{
background: url('../../img/grey.jpg');
background-repeat: no-repeat;
background-size:cover;
}
  .fgrid {
  padding-right: 8%;
}
}
