page-shops-page {
p {
	  padding-bottom: 1px;
	  padding-left: 2px;
	  border-bottom: 1px solid black;
}
.getstart{
background: url('../../img/shopping.jpg');
background-repeat: no-repeat;
background-size:cover;
}
}
